# IDE 및 OS 관련 파일
.DS_Store
Thumbs.db
# Python 관련 캐시 및 컴파일 파일
__pycache__/
*.pyc
*.pyo
.idea

.env

# 테스트 관련 생성 파일
*.exe

# # target와 log 폴더 안의 모든 txt 파일 제외
*.txt
# (주의) requirements.txt는 포함해야 하므로 ignore 금지!
!requirements.txt

src/comp/*.pkl

